// Variables
@import 'variables';

header {

    @mixin cf() {
        &:after {
          content: "";
          display: table;
          clear: both;
        }
      }
      
      .scroll-nav {
          
        @media screen and (min-width: 800px) {
            
          float: right;
        }
        
        @media screen and (max-width: 799px) {
          text-align: center;
        }
      }
      
      .scroll-nav__list {
        @include cf();
        
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        
        @media screen and (max-width: 799px) {
          display: inline-block;
        }
      }
      
      .scroll-nav__item {
        margin-bottom: 5px;
        float: left;
        margin-right: 15px;
        border-bottom: 1px solid transparent;
        font-size:40px;
        font-family: "Roboto";
        @media screen and (max-width: 600px) {
            width: 100%;
            display: block;
        }

        :hover{
            text-decoration: underline;
        }
      }
      
      .scroll-nav__item--active {
        font-weight: 600;
        border-bottom-color: white;
      }
      
      .scroll-nav__link {
        color: black;
        text-decoration: none;
      }
      
      .page__header {
        @include cf();
        
        position: sticky;
        top: 0;
        padding: 15px 10px;
      }
      
      .page__title {
        margin: 0;
        font-size: 22px;
        
        @media screen and (max-width: 799px) {
          text-align: center;
          margin-bottom: 15px;
        }
        
        @media screen and (min-width: 800px) {
          float: left;
        }

      }

    nav {
        .logo {
            width: 600px;
            margin: 1%;
            display: inline-block;

            @media screen and (max-width: 600px) {
                width: 100%;
                display: block;
            }

            img {
                width: 38%;
            }
        }

        .burger {
            display: inline-block;
            width: 43%;
            float: right;
            margin: 1%;

            

            @media screen and (max-width: 600px) {
                
                    float: none;
                    width: 100%;
                    cursor: pointer;

                    .bar1,
                    .bar2,
                    .bar3 {
                        width: 35px;
                        height: 5px;
                        background-color: black;
                        margin: 6px 0;
                        transition: 0.4s;
                    }

                    .page__header{
                        display: none;
                    }

                    


                
            }

        }

        .change {
            .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
                background-color:black;
            }

            .bar2 {
                opacity: 0;
            }

            .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }

            .page__header {
                display: block;
            }

        }
    }

    .headImg {
        img {
            width: 100%;

            @media screen and (max-width: 600px) {
                width: 150%;
            }
        }
    }

}

#up {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: #d52b19; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
  }
  
  #up:hover {
    background-color: #555; 
  }


main {
    section {
        margin-top: -3px;


        h2 {
            font-size: 50px;
            margin: 3%;
            font-family: 'Roboto';
            font-weight: bold;
        }

        img {
            width: 50%;
            display: inline-block;

            @media screen and (max-width: 600px) {
                display: block;
                width: 100%;
                height: 300px;
            }
        }

        p {
            width: 80%;
            margin-left: 3%;
            font-family: 'Roboto';
            font-size: 30px;

            @media screen and (max-width: 600px) {
                width: 90%;
                margin: auto;
                margin-bottom: 2%;
            }
        }

        .content {
            width: 50%;
            display: inline-block;

            @media screen and (max-width: 600px) {
                display: block;
                width: 100%;
            }

            img {
                margin-top: 33%;
                margin-left: 30%;

                @media screen and (max-width: 600px) {
                    display: block;
                    width: 40%;
                    height: auto;
                    margin-top: 10%;
                    margin-bottom: 2%;
                }
            }
        }

        .right {
            float: right;
        }

        .left {
            float: left;
        }
    }
}



  
  